html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  /* color: #c9a96e; */
  color: #fff;
}

/* ----------------navbar-------------------- */
.navbar-wrapper {
  width: 100%;
  box-sizing: border-box;
  /* background-color: #f0ece4cb; */
  height: 100px;
  position: sticky;
  background-color: black;
  top: 0;
  z-index: 100;
}
.navbar-inner {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* padding: 16px 24px; */
  padding: 16px 5%;
  box-sizing: border-box;
}
.navbar-inner h1 {
  flex: 1;
  /* text-align: left; */
  white-space: nowrap;
}
.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.nav-links ul {
  display: flex;
  gap: clamp(16px, 3vw, 50px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.nav-links ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-bottom: 5px;
  color: #bf743b;
}
.nav-links ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #333;
  background: linear-gradient(90deg, #c9a96e, #a0785a); /* warm gold → brown */
  border-radius: 2px;
  transition: width 0.3s ease;
}
.nav-links ul li a:hover {
  color: #897b12;
}
.nav-links ul li a.active {
  color: #a0785a;
  font-weight: 700;
}

/* hover animation */
.nav-links ul li a:hover::after,
.nav-links ul li a.active::after {
  width: 100%;
}

/* Hide hamburger on desktop */
.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.menu_bar {
  display: none;
}

/* Mobile breakpoint */
@media (max-width: 768px) {
  /* Hide nav links on mobile */
  .navbar-wrapper {
    width: 100%;
  }
  .nav-links {
    display: none;
  }

  /* Show menubar on mobile */
  .menu_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 40px;
    height: 40px;
    cursor: pointer; */
  }

  .menu_img {
    width: 22px; /* icon size */
    height: 22px;
  }

  .navbar-inner {
    justify-content: space-between;
  }

  .menu-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color:black;
  }
}

/*-------------- Hero section --------------------*/
.hero {
  position: relative;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9a96e;
}

/* floating cards */
.card {
  position: absolute;
  /* background: #e8e3da; */
  /* background: #333; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: clamp(12px, 1.5vw, 24px);
  width: clamp(140px, 18vw, 320px);
}
.hello-card {
  top: 25%;
  left: calc(50% - 32vw); /* left of center */
  z-index: 1;
  background-image: url("./img/topography.svg");
  background-size: cover;
}
.projects-card {
  bottom: 15%;
  left: calc(50% - 29vw);
  /* width: 20rem; */
  padding: 1vw;
  background: #ffff;
  background: #333;
  /* box-shadow:
    0 4px 8px 0 rgba(255, 253, 253, 0.997),
    0 6px 20px 0 rgba(255, 255, 255, 0.19); */
  box-shadow:
    0 4px 8px 0 rgba(255, 255, 255, 0.171),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  z-index: 1;
}
.projects-card h3 {
  /* font-size: 1.5rem; */
  /* font-weight: bolder; */
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: 5%;
}
.projects-card p {
  margin-top: 0;
  position: relative;
  left: 5%;
}
.experience-card {
  top: 25%;
  right: calc(50% - 25vw);
  display: flex;
  align-items: center;
  gap: 12px;
  width: clamp(140px, 15vw, 280px);
  /* background: #ffff; */
  /* background: #21201e; */
  background: #333;
  /* box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow:
    0 4px 8px 0 rgba(255, 255, 255, 0.171),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
/* .experience-card .number {
  font-size: 1.5rem;
  font-weight: bolder;
} */
.role-card {
  bottom: 20%;
  right: calc(50% - 30vw);
  /* width: 280px; */
  width: clamp(140px, 18vw, 240px);
  /* background-image: url("./img/bg2.png"); */
  background-image: url("./img/topography.svg");
  background-size: cover;
}

.card h2 {
  font-size: clamp(14px, 2vw, 28px);
}
.card h3 {
  font-size: clamp(18px, 2.5vw, 36px);
}
.card p {
  font-size: clamp(11px, 1.5vw, 16px);
}

/* profile picture */
.profile-img-wrapper {
  width: 24vw;
  height: 35vw;
  border-radius: 45vh;
  overflow: hidden;
  z-index: 0;
  flex-shrink: 0;
}
.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

/* ---- MOBILE ---- */
@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
    min-height: unset;
  }

  .card {
    position: static; /* overrides absolute */
    width: 60%;
    border-radius: 24px;
    padding: 20px 24px;
  }

  .profile-img-wrapper {
    width: 100%;
    height: 90vw;
    max-width: 430px;
    max-height: 650px;
    border-radius: 45vh;
    margin: 0 auto;
  }
  .card h2 {
    font-size: clamp(14px, 2vw, 28px);
    text-align: center;
  }
  .card h3 {
    font-size: clamp(18px, 2.5vw, 36px);
    text-align: center;
  }
  .card p {
    font-size: clamp(11px, 2vw, 16px);
    text-align: center;
  }
}

hr {
  border: none; /* Removes the default border */
  height: 1px; /* Sets the thickness of the line */
  background-color: #a0785a; /* Sets the line color to white */
  margin: 20px 0; /* Adds a 20px white margin top/bottom and centers horizontally */
  width: 100%; /* Adjusts the line's width */
}

/* stats */
/* .stats{
  display: flex;
  justify-content: center;
  background: #e8e3da;
  background-image: url(./img/bg2.png);
} */

/* About Me */
.about-me {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 80px 10%;
  min-height: 100vh;
  /* background-image: url(./img/bg2.png); */
}

.about-img-wrapper {
  width: clamp(250px, 30vw, 500px);
  flex-shrink: 0;
}
.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.about-text {
  position: relative;
}
.about-header-big {
  color: rgba(179, 177, 177, 0.2);
  position: absolute;
  font-size: clamp(40px, 6vw, 100px);
  font-weight: 900;
  top: -10px;
  left: 0;
  z-index: 0;
  white-space: nowrap;
}
.about-header {
  font-size: clamp(28px, 3.5vw, 52px);
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
}
.about-text p {
  position: relative;
  z-index: 1;
  max-width: 600px;
  line-height: 1.7;
  margin-bottom: 40px;
}

.about-info {
  display: grid;
  grid-template-columns: auto 1fr; /*its is like ===> label | value*/
  gap: 16px 40px;
  position: relative;
  z-index: 1;
}
.label {
  font-weight: 700;
}

/* Tablet-version */
@media (min-width: 481px) and (max-width: 1024px){
  .about-me{
    gap:40px;
    padding: 60px 6%;
  }
  .about-img-wrapper {
    width: clamp(280px, 40vw, 450px); /*bigger image on tablet*/
  }
  .about-info{
    gap: 20px 50px; /*more room for info*/
  }
  .about-text p {
    font-size: 18px;
  }
  .label {
    font-size: 17px;
  }
}
@media (max-width: 480px) {
  .about-me {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 6%;/*controlled padding*/
    gap: 24px;
    min-height: unset; /*removes the 100vh height set earlier*/
  }
  /* .about-img-wrapper {
    width: 100%;
    max-width: unset;
  }
  .about-img{
    width:100%;
    height: 60vw;
    object-fit: cover;
    object-position: top;
  } */
   .about-img-wrapper{
    display: none;
   }
   .about-header-big{
    font-size: clamp(40px, 12vw, 80px);
   }
   .about-header {
    font-size: clamp(28px, 7vw, 42px);
    margin-top: 20px;
   }
   .about-text p{
    font-size: 16px;
    margin-bottom: 24px;
   }
   .about-info {
    grid-template-columns: auto 1fr;
    gap: 14px 24px;
    font-size: 15px;
   }
}

/* What I do section */
.what-i-do {
  /* background-color: #fff; */
  min-height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column; /*stacks the header above grid*/
  align-items: center;
  padding: 60px 40px; /*This prevented the "what i do header from hiding behind the navbar*/
}
.do-header {
  font-size: clamp(28px, 4vw, 48px);
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
}
.do-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*gives us 3 columns*/
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
/* Make 4th card stay in column 1 */
.do-card:last-child {
  grid-column: 1;
}

.do-card {
  /* display: grid; */
  display: flex;
  align-items: flex-start;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 2 auto; */
  gap: 20px;
  padding: 24px;
  /* border: 1px solid #e0e0e0; */
  border-radius: 12px;
  background: #171616;
}

.do-text h2 {
  /* font-size: clamp(14px, 1.5vw, 18px); */
  font-weight: 700;
  margin-bottom: 8px;
  color: #c9a96e;
}

.do-text p {
  font-size: clamp(12px, 1.1vw, 14px);
  color: #666;
  line-height: 1.6;
}

/* tablet version */
@media (max-width: 768px){
  .do-grid{
    grid-template-columns: 1fr 1fr; /*give only 2 columns*/
  }
  .do-card:last-child {
    grid-column:auto; /*reset on tablet */
  }
}

/*mobile version*/
@media (max-width: 480px) {
  .do-grid {
    grid-template-columns: 1fr;  /* 1 column on mobile */
    padding: 0 16px;
  }
}

/* footer */
.footers {
  background: #dad2bd;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
